body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e390b1;
}

#container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}
/*try2*/
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
